* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(140, 235, 201);
    color: rgb(28, 24, 24);
    font-size: 16px, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.clear {
    clear: both;
}

.button {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border: none;
}

.button:hover {
    background-color: blue;
    color: blueviolet;
}

.box-1 {
    background-color: rgb(109, 149, 172);
    color: azure;
    border: 5px rgb(5, 19, 17) solid;
    padding: 20px;
    margin: 20px;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

.box-1 p {
    text-align: justify;
}

.box-2 {
    background-color: burlywood;
    border: 1px dotted #333;
    padding: 20px;
    margin: 20px;
}

.box-2 h1 {
    text-align: center;
}

.box-2 p {
    padding: 20px;
    text-align: justify;
    line-height: 1.6em;
}

.categories {
    border: 1px solid #333;
    margin: 20px;
    border-radius: 20px;
    padding-left: 20px;
}

.categories h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 20px;
}

.categories ul {
    padding: 20px;
}

.categories ul li {
    border-bottom: 1px dotted #333;
    list-style-image: url("Images/download.png");
}

.my-form {
    padding: 20px;
}

.my-form .my-group {
    padding-bottom: 15px;
}

.my-form input[type="text"],
.my-form textarea {
    padding: 8px;
    width: 100%;
}

.box-3 {
    background-color: rgb(184, 117, 215);
    padding: 20px;
    margin: 20px;
}

.box-3 p {
    padding: 20px;
    text-align: justify;
    line-height: 1.6em;
}

.block {
    width: 33.3%;
    float: left;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.block-1 {
    margin-left: 20px;
    margin-top: 10px;
    width: 33.3%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.block-2 {
    margin-top: 10px;
    width: 33%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.block-3 {
    margin-top: 10px;
    width: 30.3%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.main-block {
    float: left;
    margin-top: 20px;
    width: 70%;
    /* border: solid 1px black; */
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.sidebar {
    margin-top: 20px;
    float: right;
    width: 30%;
    box-sizing: border-box;
    background-color: rgb(23, 37, 37);
    color: aliceblue;
}

.p-box {
    border: 1px solid black;
    height: 400px;
    margin: 20px;
    position: relative;
    background-image: url("Images/img1.jpg");
    color: aliceblue;
    background-repeat: repeat;
    background-position: center left;
}

.p-box h1 {
    position: absolute;
    top: 100px;
    left: 50px;
}

.p-box h2 {
    position: absolute;
    right: 50px;
    bottom: 100px;
}

.fixed {
    position: fixed;
    top: 400px;
    left: 0px;
}